Servicios Orquestados/Tarea/ConsultaValidation/Resources/RestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:tns="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" xmlns:inp1="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" xmlns:inp2="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" schemaLocation="../Specifications/MSG.0010043.REQ.purchaseValidation_2.0.xsd"/>
            <xsd:import namespace="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" schemaLocation="../Specifications/MSG.0010043.RESP.purchaseValidation_2.0.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="purchaseValidation">
            <request soa:paramElement="pns:purchaseValidationReq" xmlns:pns="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0">
               <param name="rutCliente" style="query" soa:expression="$msg.purchaseValidationPart/tns:rutCliente" type="xsd:string"/>
               <param name="nombreCliente" style="query" soa:expression="$msg.purchaseValidationPart/tns:nombreCliente" type="xsd:string"/>
               <param name="canal" style="query" soa:expression="$msg.purchaseValidationPart/tns:canal" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:purchaseValidationResp" xmlns:cns="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
