Servicios Orquestados/Tarea/Nacionalidad/Specifications/MSG.0010045.REQ.nacionalidad_1.0.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jm.peter.cl/NEG/nacionalidad/v/1.0"
            targetNamespace="http://jm.peter.cl/NEG/nacionalidad/v/1.0" elementFormDefault="qualified">
 
 <xsd:element name="nacionalidadReq" type="tns:nacionalidadReqType"/>
  <xsd:complexType name="nacionalidadReqType">
      <xsd:sequence>
        <xsd:element name="rutCliente" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType> 
</xsd:schema>