Servicios Orquestados/WSDL/MSG.0010043.RESP.purchaseValidation_2.0.xsd

<?xml version="1.0" encoding='UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0"
            targetNamespace="http://ws.wom.cl/WOM/NEG/ProductCatalog/purchaseValidation/v/2.0" elementFormDefault="qualified">
  <xsd:element name="purchaseValidationResp" type="purchaseValidationRespType"/>
  <xsd:complexType name="purchaseValidationRespType">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="glosa" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>