Servicios Orquestados/Tarea/ObtenerLista/Specifications/MSG.0010044.REQ.ObtenerLista_1.0.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jm.peter.cl/NEG/obtenerLista/v/1.0"
            targetNamespace="http://jm.peter.cl/NEG/obtenerLista/v/1.0" elementFormDefault="qualified">
 
   <xsd:element name="obtenerListaReq" type="tns:obtenerListaReqType"/>
  
   <xsd:complexType name="obtenerListaReqType">
      <xsd:sequence>
        <xsd:element name="rutCliente" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
